{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Stock Data Visualizer {% endblock %}</h1>
    <form method="post">
        <label for="symbol">Choose Symbol</label>
        <select id="symbol" name="symbol">
            <option value="">Select a Symbol</option>
            <option value="GOOGL">GOOGL</option>
        </select>
        <br>
        <label for="chart_type">Choose Chart Type</label>
        <select id="chart_type" name="chart_type">
            <option value="">Select a Chart Type</option>
            <option value="1">1. Bar</option>
            <option value="2">2. Line</option>
        </select>
        <br>

        <label for="content">Post Content</label>
        <br>
        <textarea name="content"
                  placeholder="Post content"
                  rows="15"
                  cols="60"
                  >{{ request.form['content'] }}</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}